<md-dialog aria-label="Weapons Dialog" class="size-xl">

  <!-- Toolbar -->
  <md-toolbar>
    <div class="md-toolbar-tools">

      <!-- Title -->
      <h2>Weapons</h2>
      <span flex></span>

      <!-- Close Button -->
      <md-button class="md-icon-button" ng-click="dialog.cancel()">
        <md-icon aria-label="Close dialog" class="material_icons">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <!-- Dialog Content -->
  <md-dialog-content layout="column">
    <md-content>
      <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
        <!-- Equipped Weapons -->
        <md-tab md-on-select="dialog.selectEquipped();">
          <md-tab-label>
            Equipped
            <span class="tab-badge" ng-if="dialog.newWeapons > 0">{{dialog.newWeapons}}</span>
          </md-tab-label>
          <md-tab-body>

            <md-content class="full-height">
            <section class="weapons-list" ng-if="!dialog.equippedWeaponDetails">

              <md-table-container>
                <table md-table ng-model="dialog.selected">
                  <thead md-head md-row md-order="dialog.myOrder">
                    <!-- when the user clicks this cell, the myOrder variable will get the value 'nameToLower' -->
                    <tr md-row>
                      <th md-column class="button-cell">
                        <md-button>
                          <md-icon class="list-add material-icons">edit</md-icon>
                        </md-button>
                      </th>
                      <th md-column md-order-by="name" md-default>Name</th>
                      <!-- the variable myOrder will not be changed when this cell is clicked -->
                      <!-- <th md-column>Weapon Type</th> -->
                      <th md-column>Damage</th>
                      <th md-column>Damage Type</th>
                      <th md-column>Weight</th>
                      <!-- <th md-column ng-if="dialog.removing">test</th> -->
                    </tr>
                  </thead>
                  <tbody md-body>
                    <!-- we can let ng-repeat sort the columns for us -->
                    <tr md-row md-select="weapon" md-select-id="{{weapon.id}}" ng-repeat="weapon in dialog.character.weapons | orderBy: dialog.myOrder track by $index"
                    ng-click="dialog.showEquippedWeaponDetails(weapon.name);">
                      <td md-cell class="button-cell" ng-click="dialog.removeWeapon($index); $event.stopPropagation();">
                        <md-button>
                          <md-icon class="list-add material-icons">remove_circle</md-icon>
                        </md-button>
                      </td>
                      <td md-cell>
                        {{weapon.name}}
                      </td>
                      <td md-cell>
                        {{weapon.damage}}
                      </td>
                      <td md-cell>
                        {{weapon.damageType}}
                      </td>
                      <td md-cell>
                        {{weapon.weight}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>
            </section>
            <!-- Weapons Details -->
            <section class="weapon-details" ng-if="dialog.equippedWeaponDetails">
              <div class="details-header md-padding">
                <md-button class="md-icon-button" aria-label="back" ng-click="dialog.clearEquippedWeaponDetails();">
                  <md-icon class="material-icons">expand_more</md-icon>
                </md-button>
                <div class="header-text">
                  <h2 class="md-display-1">{{dialog.equippedWeaponDetails.name}}</h2>
                  <h3 class="md-subhead">{{dialog.equippedWeaponDetails.weaponType}}</h3>
                </div>
              </div>

              <table class="details-table">
                <tr>
                  <td>Damage</td>
                  <td>{{dialog.equippedWeaponDetails.damage}}</td>
                </tr>
                <tr>
                  <td>Damage Type</td>
                  <td>{{dialog.equippedWeaponDetails.damageType}}</td>
                </tr>
                <tr>
                  <td>Cost</td>
                  <td>{{dialog.equippedWeaponDetails.cost}}</td>
                </tr>
                <tr>
                  <td>Weight</td>
                  <td>{{dialog.equippedWeaponDetails.weight}}</td>
                </tr>
                <tr ng-if="dialog.equippedWeaponDetails.properties.length > 0">
                  <td>Properties</td>
                  <td>
                    <div class="details-chip" ng-repeat="property in dialog.equippedWeaponDetails.properties">
                      {{property}}</div>
                  </td>
                </tr>
              </table>
            </section>
            </md-content>
          </md-tab-body>
        </md-tab>
        <md-tab label="Browse">
          <md-content class="full-height">
            <section class="weapons-list" ng-if="!dialog.weaponDetails">
              <div class="md-padding search-filter">
                <!-- Filter / Search -->
                <md-input-container md-no-float class="md-block">
                  <md-icon class="material-icons">search</md-icon>
                  <input ng-model="dialog.searchText" type="text" placeholder="Filter Weapons">
                </md-input-container>
              </div>
              <!-- Browse Weapons Table -->
              <md-table-container>
                <table md-table ng-model="dialog.selected">
                  <thead md-head md-row md-order="dialog.myOrder">
                    <!-- when the user clicks this cell, the myOrder variable will get the value 'nameToLower' -->
                    <tr md-row>
                      <th md-column></th>
                      <th md-column md-order-by="name" md-default>Name</th>
                      <!-- the variable myOrder will not be changed when this cell is clicked -->
                      <!-- <th md-column>Weapon Type</th> -->
                      <th md-column md-order-by="damage">Damage</th>
                      <th md-column md-order-by="damageType">Damage Type</th>
                      <!-- <th md-column md-order-by="cost">Cost</th> -->
                      <th md-column md-order-by="weight">Weight</th>
                      <!-- <th md-column ng-if="dialog.removing">test</th> -->
                    </tr>
                  </thead>
                  <tbody md-body>
                    <!-- we can let ng-repeat sort the columns for us -->
                    <tr md-row md-select="weapon" md-select-id="{{weapon.id}}" ng-repeat="weapon in dialog.weaponsList | filter : dialog.searchText | orderBy: dialog.myOrder" ng-click="dialog.showWeaponDetails(weapon.name);">
                      <td md-cell class="button-cell" ng-click="dialog.addWeapon(weapon.name); $event.stopPropagation();">
                        <md-button>
                          <md-icon class="list-add material-icons">add</md-icon>
                        </md-button>
                      </td>
                      <td md-cell>
                        {{weapon.name}}
                      </td>
                      <!-- <td md-cell>
                        {{weapon.weaponType}}
                      </td> -->
                      <td md-cell>
                        {{weapon.damage}}
                      </td>
                      <td md-cell>
                        {{weapon.damageType}}
                      </td>
                      <!-- <td md-cell>
                        {{weapon.cost}}
                      </td> -->
                      <td md-cell>
                        {{weapon.weight}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>

            </section>

            <!-- Weapons Details -->
            <section class="weapon-details" ng-if="dialog.weaponDetails">
              <div class="details-header md-padding">
                <md-button class="md-icon-button" aria-label="back" ng-click="dialog.clearWeaponDetails();">
                  <md-icon class="material-icons">expand_more</md-icon>
                </md-button>
                <div class="header-text">
                  <h2 class="md-display-1">{{dialog.weaponDetails.name}}</h2>
                  <h3 class="md-subhead">{{dialog.weaponDetails.weaponType}}</h3>
                </div>
              </div>

              <table class="details-table">
                <tr>
                  <td>Damage</td>
                  <td>{{dialog.weaponDetails.damage}}</td>
                </tr>
                <tr>
                  <td>Damage Type</td>
                  <td>{{dialog.weaponDetails.damageType}}</td>
                </tr>
                <tr>
                  <td>Cost</td>
                  <td>{{dialog.weaponDetails.cost}}</td>
                </tr>
                <tr>
                  <td>Weight</td>
                  <td>{{dialog.weaponDetails.weight}}</td>
                </tr>
                <tr ng-if="dialog.weaponDetails.properties.length > 0">
                  <td>Properties</td>
                  <td>
                    <div class="details-chip" ng-repeat="property in dialog.weaponDetails.properties">
                      {{property}}</div>
                  </td>
                </tr>
              </table>
            </section>

          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </md-dialog-content>
  <!-- </form> -->
</md-dialog>
