<md-dialog aria-label="Class Features Dialog" class="size-xl">
  <!-- <form> -->
    <!-- Toolbar -->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <!-- Title -->
        <h2>Class Features</h2>
        <span flex></span>
        <!-- Close Button -->
        <md-button class="md-icon-button" ng-click="dialog.cancel()">
          <md-icon aria-label="Close dialog" class="material_icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <!-- Dialog Content -->
    <md-dialog-content layout="column">
      <!-- Loading Spinner -->
      <div class="loading-spinner" layout-align="space-around" layout-sm="column" layout="row"  ng-if="!dialog.classFeatures.abilities">
        <md-progress-circular md-diameter="96" md-mode="indeterminate"></md-progress-circular>
      </div>
      <!-- Filters -->
      <section class="md-padding" class="md-padding" id="class-features-filters" layout-wrap layout="row" ng-if="dialog.classFeatures.abilities">
        <!-- Class -->
        <md-input-container flex="25">
          <label>Class</label>
          <md-select ng-change="dialog.getClassFeatures(dialog.className)" ng-model="dialog.className">
            <md-option ng-repeat="class in dialog.classList" value="{{class}}">{{class}}</md-option>
          </md-select>
        </md-input-container>

        <!-- Level -->
        <md-input-container flex="25">
          <label>Level</label>
          <input max="20" min="1" ng-model="dialog.level" type="number"></input>
        </md-input-container>

        <!-- Order By -->
        <md-input-container flex="25">
          <label>Order By</label>
          <md-select ng-model="dialog.orderBy">
            <md-option selected value="level">Level</md-option>
            <md-option value="title">Title</md-option>
          </md-select>
        </md-input-container>

        <!-- Direction -->
        <md-input-container flex="25">
          <label>Direction</label>
          <md-select ng-model="dialog.direction">
            <md-option selected value="false">Ascending</md-option>
            <md-option value="true">Descending</md-option>
          </md-select>
        </md-input-container>
      </section>

      <!-- Class Features List -->
      <section id="class-features-list" layout="column" ng-if="dialog.classFeatures.abilities">
        <md-content>
          <md-list>
            <!-- <md-subheader class="md-no-sticky">3 line item</md-subheader> -->
            <md-list-item class="md-3-line" ng-if="feature.level <= dialog.level "
            ng-repeat="feature in dialog.classFeatures.abilities | orderBy : dialog.orderBy : dialog.direction==='true'">
              <div class="md-list-item-text  md-long-text" layout="column">
                <h3>{{ feature.title }}</h3>
                <h4>Level {{ feature.level }}</h4>
                <p ng-bind-html="feature.description"></p>
              </div>
              <md-divider ></md-divider>
            </md-list-item>

            <md-divider ></md-divider>
          </md-list>
        </md-content>
      </section>
    </md-dialog-content>
  <!-- </form> -->
</md-dialog>
