.stat-input {
  input, label, .modifier{
    text-align: center;
  }
  input {
    font-size:22px;
    width:50%;
  }
  span {
    width:30%;
    vertical-align: middle;
    &.material-icons{
      width:20%;
      opacity:.35;
    }
  }
}
