<md-dialog aria-label="Skill Details" class="size-sm">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Skill -
          {{dialog.skill.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="dialog.cancel()">
          <md-icon aria-label="Close dialog" class="material_icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="md-padding" layout="column">
      <md-content>
        <p class="md-body-1">
          {{dialog.skill.description}}
          {{dialog.trained}}
        </p>

        <div class="skill-stats" layout-wrap layout="row">
          <div class="stat-container" flex="33">
            <p>Training</p>
            <md-input-container>
              <md-checkbox aria-label="training checkbox" ng-change="dialog.saveSkills(dialog.skills)" ng-model="dialog.skills[dialog.skill.name].trained"></md-checkbox>
            </md-input-container>
            <p class="md-caption">(+ prof. bonus)</p>
          </div>
          <div class="stat-container" flex="33">
            <p>Ability Modifier</p>
            <p class="stat">{{dialog.abilityModifier}}</p>
            <p class="md-caption">({{dialog.skill.abilityScore}})</p>
          </div>
          <div class="stat-container" flex="33">
            <p>Bonus</p>
            <p class="stat bonus">
              <md-input-container flex="33" md-no-float>
                <input aria-label="skill bonus" ng-change="dialog.saveSkills(dialog.skills)" ng-model="dialog.skills[dialog.skill.name].bonus" placeholder="0" type="number">
              </md-input-container>
            </p>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
  </form>
</md-dialog>
