.proficiency-bonus {
  margin: 0;
  width : 100%;
  input,
  label {
    text-align: center;
  }
  input {
    font-size   : 22px;
    width       : 50%;
    margin-left : 25%;
    margin-right: 25%;
  }
}
#skills {
  md-input-container {
    float  : right;
    display: inline;
    width  : 2em;
    margin : 0;

  }
  md-list-item,
  md-list-item .md-list-item-inner {
    padding-right: 0;
    p, span{
      padding-top: 8px;
      padding-bottom: 8px;
    }
    span{
      padding-right:16px;
      right:16px;
    }
    min-height: 36px;
  }
  md-checkbox {
    margin-top   : 8px;
    margin-bottom: 8px;
    margin-right : 19px;
  }
}

.skill-stats{
  md-input-container, .stat-container, input{
    text-align:center;
  }
  md-input-container{
    display: block;
  }
  .stat-container{
    margin-top:16px;
  }
  .stat{
    display: inline-block;
    text-align:center;

  }
  input{
    width:2em;
    margin-top:-4px;
  }
  .stat{
    margin-top: 6px;
    margin-bottom: 7px;
    &.bonus{
      margin-top:4px;
    }
  }
  md-checkbox{
    margin-bottom: 0px;
  }
}
.bonus{
  margin-top:3px;
  md-input-container{
    margin:0;
  }
}
