<div layout="row" layout-wrap>
  <!-- Class -->
  <md-input-container flex="25">
    <label>Class</label>
    <md-select ng-model="charCtrl.character.class" ng-change="charCtrl.updateCharacter(charCtrl.character.id, {class:charCtrl.character.class})">
      <md-option ng-repeat="class in basicCtrl.classes" value="{{class}}">{{class}}</md-option>
    </md-select>
  </md-input-container>

  <!-- Archetype -->
  <md-input-container flex="25">
    <label>Archetype</label>
    <md-select ng-model="basicCtrl.archetype" >
      <md-option ng-repeat="background in basicCtrl.backgrounds" value="{{background}}">{{background}}</md-option>
    </md-select>
  </md-input-container>

  <!-- Background -->
  <md-input-container flex>
    <label>Background</label>
    <md-select ng-model="charCtrl.character.background" ng-change="charCtrl.updateCharacter(charCtrl.character.id, {background:charCtrl.character.background})">
      <md-option ng-repeat="background in basicCtrl.backgrounds" value="{{background}}">{{background}}</md-option>
    </md-select>
  </md-input-container>

  <!-- Alignment -->
  <md-input-container flex>
    <label>Alignment</label>
    <md-select ng-model="charCtrl.character.alignment" ng-change="charCtrl.updateCharacter(charCtrl.character.id, {alignment:charCtrl.character.alignment})">
      <md-option ng-repeat="alignment in basicCtrl.alignments" value="{{alignment}}">{{alignment}}</md-option>
    </md-select>
  </md-input-container>
</div>

<div layout="row" layout-wrap>
  <!-- Race -->
  <md-input-container flex>
    <label>Race</label>
    <md-select ng-model="charCtrl.character.race" ng-change="basicCtrl.getSubraces(charCtrl.character.race);
      charCtrl.updateCharacter(charCtrl.character.id, {race:charCtrl.character.race}); charCtrl.character.subrace = '';
      charCtrl.getSpeed(charCtrl.character.race);">
      <md-option ng-repeat="race in basicCtrl.races" value="{{race}}">{{race}}</md-option>
    </md-select>
  </md-input-container>

  <!-- Subrace -->
  <md-input-container flex ng-if="charCtrl.character.race" ng-init="basicCtrl.getSubraces(charCtrl.character.race);">
    <label>Subrace</label>
    <md-select ng-model="charCtrl.character.subrace" ng-change="charCtrl.updateCharacter(charCtrl.character.id, {subrace:charCtrl.character.subrace})">
      <md-option ng-repeat="subrace in basicCtrl.subraces track by subrace.name" value="{{subrace.name}}">{{subrace.name}}</md-option>
    </md-select>
  </md-input-container>

  <!-- Level -->
  <md-input-container flex>
    <label>Level</label>
    <input type="number" ng-model="charCtrl.character.level" ng-change="charCtrl.getProficiencyBonus(charCtrl.character.level);
    charCtrl.updateCharacter(charCtrl.character.id, {level:charCtrl.character.level})" max="20"></input>
  </md-input-container>

  <!-- Experience -->
  <md-input-container flex>
    <label>Exp</label>
    <input type="number" ng-model="charCtrl.character.experience" ng-change="charCtrl.updateCharacter(charCtrl.character.id, {experience:charCtrl.character.experience})"></input>
  </md-input-container>


</div>
