<div layout-wrap layout="row" ng-if="charCtrl.character.level">

  <!-- Health -->
  <div class="combat-stat-container md-padding" flex="33" md-ink-ripple
   ng-click="healthCtrl.showHealthDialog($event, charCtrl.character, charCtrl.character.level, 'Hit Points', 'hitPoints', charCtrl.character.healthStats)">
    <span class="md-body-2 title">Hit Points</span>
    <span class="combat-stat health-stat">
      {{charCtrl.character.healthStats.hitPoints.current}} / {{charCtrl.character.healthStats.hitPoints.max + charCtrl.character.healthStats.hitPoints.temp }}
    </span>
  </div>

  <!-- Initiative -->
<!--  <div flex="33">-->
    <div flex="33" class="combat-stat-container md-padding" md-ink-ripple
     ng-click="healthCtrl.showHealthDialog($event, charCtrl.character, charCtrl.character.level, 'Hit Dice', 'hitDice', charCtrl.character.healthStats)">
      <span class="md-body-2 title">Hit Dice</span>
      <span class="combat-stat">{{charCtrl.character.level}}{{charCtrl.character.hitDice}}</span>
    </div>

    <div flex="33" class="combat-stat-container md-padding death-saves"  md-ink-ripple
     ng-click="healthCtrl.showHealthDialog($event, charCtrl.character, charCtrl.character.level, 'Death Saves', 'deathSaves', charCtrl.character.healthStats)">
      <span class="md-body-2 title">Death Saves</span>
      <p class="md-body-1" ng-if="!charCtrl.character.healthStats.deathSaves.success">
        Success 0/3
      </p>
      <p class="md-body-1" ng-if="charCtrl.character.healthStats.deathSaves.success">
        Success {{charCtrl.character.healthStats.deathSaves.success}}/3
      </p>
      <p class="md-body-1" ng-if="!charCtrl.character.healthStats.deathSaves.fail">
        Failure 0/3
      </p>
      <p class="md-body-1" ng-if="charCtrl.character.healthStats.deathSaves.fail">
        Failure {{charCtrl.character.healthStats.deathSaves.fail}}/3
      </p>
    </div>
<!--  </div>-->
  <!-- Initiative -->
<!--
  <div flex="50">

  </div>
-->
</div>
