<div layout="row" layout-wrap>
  <!-- Class -->
  <md-input-container flex="25">
    <label>Class</label>
    <md-select ng-model="vm.class">
      <md-option ng-repeat="class in vm.classes" value="{{class}}">{{class}}</md-option>
    </md-select>
  </md-input-container>

  <!-- Archetype -->
  <md-input-container flex="25">
    <label>Archetype</label>
    <md-select ng-model="vm.archetype">
      <md-option ng-repeat="background in vm.backgrounds" value="{{background}}">{{background}}</md-option>
    </md-select>
  </md-input-container>

  <!-- Background -->
  <md-input-container flex>
    <label>Background</label>
    <md-select ng-model="vm.background">
      <md-option ng-repeat="background in vm.backgrounds" value="{{background}}">{{background}}</md-option>
    </md-select>
  </md-input-container>

  <!-- Alignment -->
  <md-input-container flex>
    <label>Alignment</label>
    <md-select ng-model="vm.alignment">
      <md-option ng-repeat="alignment in vm.alignments" value="{{alignment}}">{{alignment}}</md-option>
    </md-select>
  </md-input-container>
</div>

<div layout="row" layout-wrap>
  <!-- Race -->
  <md-input-container flex>
    <label>Race</label>
    <md-select ng-model="vm.race" ng-change="vm.getSubraces(vm.race)">
      <md-option ng-repeat="race in vm.races" value="{{race}}">{{race}}</md-option>
    </md-select>
  </md-input-container>

  <!-- Subrace -->
  <md-input-container flex ng-if="vm.subraces.length > 0">
    <label>Subrace</label>
    <md-select ng-model="vm.subrace">
      <md-option ng-repeat="subrace in vm.subraces track by $index" value="{{subrace.name}}">{{subrace.name}}</md-option>
    </md-select>
  </md-input-container>



  <!-- Level -->
  <md-input-container flex>
    <label>Level</label>
    <input type="number" model="vm.level"></input>
  </md-input-container>

  <!-- Experience -->
  <md-input-container flex>
    <label>Exp</label>
    <input type="number" model="vm.experience"></input>
  </md-input-container>


</div>
