md-dialog {
  md-content{
    overflow:visible;
  }
  &.size-xl {
    width: 80vw;
    height: 80vh;
  }
  &.size-lg {
    width: 800px;
  }
	&.size-md {
    width: 600px;
  }
	&.size-sm {
    width: 400px;
  }
  md-toolbar {
    position: relative;
  }
	md-dialog-content{
		margin-top:0;
	}
	p:first-child{
		margin-top:0;
	}
}
