// md-input-container{
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
  -moz-appearance:textfield;
}
md-select{
  overflow: hidden;
}
.md-select-icon{
  opacity:0;
}
md-input-container.md-input-focused:not(.md-input-has-value){
  label{
    // display:none;
  }
}
md-input-container{
  .md-errors-spacer{
    display:none;
  }
}

//Search Filter
.search-filter {
  border-bottom: 1px solid rgba(0,0,0,.12);
  background-color: #EEEEEE;
  md-input-container {
    margin:0;
  }
}
