.details-table {
  width          : 100%;
  border-collapse: collapse;
  th {
    text-align: left;
    padding   : 16px;
  }
  tr {
    &:nth-child(even) {
      background-color: #eee;
    }
    td {
      padding: 16px;
      &:first-child {
        // color:red;
        // width:33%;
        font-weight: 500;
      }
    }
  }
}
table.md-table {
  // td.md-cell.swipe-actions {
  //   position        : absolute;
  //   right           : 0;
  //   padding         : 16px;
  //   border-top      : rgba(0,0,0,0) 1px solid;
  //   background-color: red;
  //   color           : #fff;
  //   // margin-left: -86px;
  // }
  .swipe-actions {
    position        : absolute;
    right           : 0;
    padding         : 16px;
    border-top      : rgba(0,0,0,0) 1px solid;
    background-color: #E53935;
    color           : #fff;
    margin-top      : -32px;
    width           : 56px;
    opacity         : 1;
    text-align      : center;
    &.ng-enter,
    &.ng-leave {
      transition: 0.25s all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s;
      width     : 56px;
      // top:0px;
    }
    &.ng-enter,
    &.ng-leave-active.ng-leave-active {
      width  : 0;
      // padding-left: 0px;
      opacity: 0;
    }
    &.ng-leave,
    &.ng-enter.ng-enter-active {
      opacity: 1;
      // position: relative;
      // width:0px;
      width  : 56px;
    }
    &.ng-leave {
      // width: 100%;
      // position: absolute;
      width: 56px;
      // padding:0px;
    }
  }
}
